/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  gap: var(--gap-page);
  justify-content: center;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000028;
  font-family: var(--main-font), monospace;
  font-size: var(--font-size);
  line-height: 23.4px;
  padding: 0 10px;
  margin: 0;
}

.header {
  display: grid;
  grid-template-rows: min-content 1fr 2fr;
  gap: 8px;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  padding-block-start: 7px;
}

.head-decor-text::before {
  content: "REC";
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 10px;
  font-weight: var(--min-font-weight);
  line-height: 25px;
  color: var(--pseudo-color);
}

.head-decor-text::after {
  position: absolute;
  inset-block-start: 18px;
  inset-inline-end: 9px;
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--pseudo-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--pseudo-color);
}

.decorated-zone:before {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 0;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 0;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-item {
  font-size: var(--font-size);
  font-weight: var(--min-font-weight);
  line-height: 18px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 3px 13px;
}

.title {
  font-size: var(--mobi-res);
  font-weight: var(--max-font-weight);
  color: var(--color-title-head);
  line-height: 83%;
  text-shadow: 4px 4px #ff0070;
}

.head-div {
  display: flex;
  flex-direction: column;
  gap: 55px;
  block-size: fit-content;
}

.title-decor {
  background-color: var(--accent-color-bg);
  font-weight: var(--max-font-weight);
  font-size: var(--font-size);
  color: var(--accent-color-text);
}

.main {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: var(--gap-main);
}

.title-section {
  color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: var(--max-font-weight);
}

.text-art {
  font-size: var(--font-size);
  font-weight: var(--min-font-weight);
  color: var(--color-text);
}

.section-main {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  grid-template-rows: repeat(autofill, min-content);
  gap: 10px;
  }

.title-card {
  background-color: var(--accent-color-bg);
  font-weight: var(--min-font-weight);
  color: var(--accent-color-text);
}

.div-sec {
  display: grid;
  gap: 20px;
}

.img-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
  gap: 10px;
}

.img-all {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.text-link {
  text-decoration: none;
  color: var(--color-text);
  text-shadow: 2px 2px var(--accent-color-bg);
}

.section-main:has(.img-div) {
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.text-link:hover {
  border-block-end: 2px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--hover-button-color-active)
}

@media (width >= 768px) {
  .page {
    padding: 0 20px 10px 0;
    --gap-page: 50px;
  }

  .main,
  .footer {
    padding-inline-start: 20px;
  }

  .header {
    gap: 81px;
    min-block-size: 1004px;
    margin-block-start: 10px;
  }

  .title {
    --mobi-res: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .head-div {
    gap: 160px;
  }

  .head-text {
    align-self: flex-end;
    inline-size: 364px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 30px;
  }

  .section-duble {
    grid-template-columns: 1fr 2fr;
  }

  .section-what > .title-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .title-section {
    grid-row: 1/-1;
  }

  .main {
    --gap-main: 80px;
  }

  .section-main:has(.img-div) {
    gap: 20px;
  }

  .img-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .img-hor {
    grid-column: span 2;
  }

  .img-wer {
    grid-row: span 2;
  }

  .footer {
    min-block-size: 1004px;
    margin-block-start: 20px;
    padding-block-end: 20px;
  }
}

@media (width >= 1024px) {
  .page {
    gap: 50px;
  }

  .header {
    grid-template-rows: min-content min-content 1fr;
    gap: 139px;
    min-block-size: 758px;
  }

  .header__theme-menu {
    justify-content: center;
    grid-area: 1;
    padding-inline-start: 20px;
    padding-block-start: 2px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
  }

  .head-div {
    gap: 110px;
  }

  .head-text {
    inline-size: 490px;
  }

  .decorated-zone::after {
    inset-block-end: 25px;
  }

  .section-duble {
    gap: 10px;
  }

  .section-what {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-what > .title-section {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .article {
    block-size: fit-content;
  }

  .footer {
    min-block-size: 758px;
    padding-block-end: 20px;
  }
}
